<button mat-button (click)="isLinear = !isLinear">切换Linear</button>
<form [formGroup]="surveyForm">
  <mat-horizontal-stepper [linear]="isLinear">
    <mat-step formGroupName="basicQuestions" [stepControl]="surveyForm.get('basicQuestions')">
      <ng-template matStepLabel>
        <u>个人信息</u>
      </ng-template>
      <h4>请提供个人信息</h4>
      <mat-card>
        <mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="100px">
          <mat-grid-tile>
            <label for="gender">性别：</label>
            <mat-radio-group name="gender" formControlName="gender" required>
              <mat-radio-button value="1">男</mat-radio-button>
              <mat-radio-button value="2">女</mat-radio-button>
            </mat-radio-group>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input name="name" matInput placeholder="姓名" formControlName="name" required>
              <mat-error>请输入自己的姓名</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input name="birthday" matInput [matDatepicker]="picker" placeholder="选择生日" formControlName="birthday"
                required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker [touchUi]="isMobile"></mat-datepicker>
              <mat-error>请输入自己的生日</mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <mat-select placeholder="选择学历" name="education" formControlName="education">
                <mat-option value="1">
                  大专
                </mat-option>
                <mat-option value="2">
                  本科
                </mat-option>
                <mat-option value="3">
                  硕士
                </mat-option>
              </mat-select>
              <mat-error>请输入自己的学历</mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <button mat-button matStepperNext>前进到「详细问题」</button>
    </mat-step>
    <mat-step formGroupName="detailedQuestions" [stepControl]="surveyForm.get('detailedQuestions')">
      <ng-template matStepLabel>
        <u>详细问题</u>
      </ng-template>
      <h4>主要的问题内容</h4>
      <mat-card>
        <mat-grid-list [cols]="isMobile ? 1 : 2" rowHeight="100px">
          <mat-grid-tile>
            <mat-checkbox formControlName="chexbox">大明帅不帅</mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile>
            <label for="appearance">大明颜值：</label>
            <mat-slider formControlName="appearance" min="0" max="100" step="1" value="0" thumbLabel tickInterval="1"></mat-slider>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-slide-toggle formControlName="love" color="accent">
              喜欢大明
            </mat-slide-toggle>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
      <button mat-button matStepperPrevious>回到「个人信息」</button>
      <button mat-button matStepperNext>前进到「其他」</button>
    </mat-step>
    <mat-step optional>
      <ng-template matStepLabel>
        <u>其他</u>
      </ng-template>
      <h4>其他问题</h4>
      <mat-card>
        <mat-card-title>
          汇总个人信息
        </mat-card-title>
        <mat-card-content>
          <div style="padding-left: 20%; padding-right:20%">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    个人信息
                  </mat-panel-title>
                  <mat-panel-description>
                    个人信息
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-list role="list">
                  <mat-list-item role="listitem">
                    <mat-form-field>
                      <input matInput placeholder="性别" [value]="surveyForm.get('basicQuestions').get('gender').value == '1' ? '男' : '女'"
                        disabled="disabled">
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <mat-form-field>
                      <input matInput placeholder="名字" [value]="surveyForm.get('basicQuestions').get('name').value"
                        disabled="disabled">
                    </mat-form-field>
                  </mat-list-item>
                  <mat-list-item role="listitem">
                    <mat-form-field>
                      <input matInput placeholder="生日" [value]="surveyForm.get('basicQuestions').get('birthday').value"
                        disabled="disabled">
                    </mat-form-field>
                  </mat-list-item>
                </mat-list>

                <!-- <mat-calendar></mat-calendar> -->

              </mat-expansion-panel>

            </mat-accordion>
          </div>

        </mat-card-content>
      </mat-card>
      <button mat-button matStepperPrevious>回到「详细问题」</button>
    </mat-step>
  </mat-horizontal-stepper>
</form>