.post-tile {
    align-self: flex-start;
    width: 100%;
    margin: 5px;
    height: 100%;
}

.box {
    width: 100%;
    padding: 40px
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.left {
    position: absolute;
    left: 10%;
    vertical-align: middle;
    text-align: center;   
    bottom: 25%;
    top: 25%;
}

.right {
    position: absolute;
    right: 10%;
    vertical-align: middle;
    text-align: center;
    bottom: 25%;
    top: 25%;
    font-size: 4.6em;
    line-height: 100%;
}

.text-lg {
    font-size: 3.5em
}

.mat-grid-tile {
    color: #fff;

}

.mat-grid-tile-primary {
    border-color: #5d9cec;
    background-color: #5d9cec
}

.mat-grid-tile-info {
    border-color: #5bc0de;
    background-color: #5bc0de;
}

.mat-grid-tile-warning {
    border-color: #f0ad4e;
    background-color: #f0ad4e;
}

.mat-grid-tile-danger {
    border-color:  #d9534f;
    background-color: #d9534f;
}




mat-card:focus {
    background: lightblue;
}